.recipe-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image{
    width:550px;
    margin-top:50px;
}

.recipe-text{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align:left
}

.clear-search-btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0.5px;
    margin-bottom:50px;
}

.people{
    text-align: center;
    width:20px;
}

.nutritional-values{
    margin-top:50px;
}

.instructions{
    margin-top:50px;
    margin-bottom:50px;
}
